<h1>Editing Investor</h1>

<%= render 'form', investor: @investor %>

<%= link_to 'Back to Investor Show', @investor %> |
<%= link_to 'Back to All Investors', investors_path %> | <%= link_to "Log out", logout_path, method: :delete %> 
